---
const { userId } = Astro.props;
---
<fieldset>
  <div class="flex flex-row items-center justify-center space-x-3">
    <div class="flex flex-row items-center justify-center space-x-2">
      <input 
        type="radio"
        id="movie-filter-all" 
        name="all" 
        value="all" 
        checked
        hx-get={`/partials/user/movies/${userId}`}
        hx-target="#movie-list-container"
        hx-trigger="click"
        hx-replace="innerHTML"
        hx-boost="true"
      />
      <label id="label-all" for="all" class="text-xl max-sm:text-sm text-white font-bold">All Movies</label>
    </div>

    <div class="flex flex-row items-center justify-center space-x-2">
      <input 
        type="radio"
        id="movie-filter-watched" 
        name="watched" 
        value="watched" 
        hx-get={`/partials/user/movies/${userId}?filter=watched`}
        hx-target="#movie-list-container"
        hx-trigger="click"
        hx-replace="innerHTML"
        hx-boost="true"
      />
      <label id="label-watched" for="watched" class="text-xl max-sm:text-sm text-white font-bold">Watched</label>
    </div>

    <div class="flex flex-row items-center justify-center space-x-2">
      <input 
        type="radio"
        id="movie-filter-unwatched" 
        name="unwatched" 
        value="unwatched" 
        hx-get={`/partials/user/movies/${userId}?filter=unwatched`}
        hx-target="#movie-list-container"
        hx-trigger="click"
        hx-replace="innerHTML"
        hx-boost="true"
      />
      <label id="label-unwatched" for="unwatched" class="text-xl max-sm:text-sm text-white font-bold">To Watch</label>
    </div>
  </div>
</fieldset>

<script>
  // this script controls the checked property of each button using vanilla JavaScript

  const allRadio = document.getElementById('movie-filter-all');
  const watchedRadio = document.getElementById('movie-filter-watched');
  const unwatchedRadio = document.getElementById('movie-filter-unwatched');

  allRadio.addEventListener('click', () => {
    allRadio.checked = true;
    watchedRadio.checked = false;
    unwatchedRadio.checked = false;
  });
  
  watchedRadio.addEventListener('click', () => {
    allRadio.checked = false;
    watchedRadio.checked = true;
    unwatchedRadio.checked = false;
  });
  
  unwatchedRadio.addEventListener('click', () => {
    allRadio.checked = false;
    watchedRadio.checked = false;
    unwatchedRadio.checked = true;
  });
</script>
