// yes using env.js instead of .env is wrong but this old legacy project isn't set up for .env because I was a noob to web dev when I made it, when I refactor it to Vite it will be properly setup for .env.

const ILM_API_BASE_URL = 'http://FILL_ME_IN';
const ILM_API_KEY = 'YOUR_ILM_API_KEY_HERE';

export {
  ILM_API_BASE_URL,
  ILM_API_KEY
}