---
import MovieListItem from '../components/MovieList/MovieListItem.astro';
import FilterForm from '../components/FilterForm/FilterForm.astro';
import AddMovie from '../components/AddMovie/AddMovie.astro';
import Logo from '../components/style/Logo.astro';
import Spacer from '../components/style/Spacer.astro';
import Navbar from '../components/Navbar/Navbar.astro';
import MovieNotFoundPoster from '../components/style/MovieNotFoundPoster.astro';

import { buttonClasses } from '../components/style/twClasses/buttonClasses';

import { getUserMoviesById } from '../db/models/userMovies';

const host = import.meta.env.HOST_URL;

const userId = '01J9W2QWVYK5SA1DJ06Q21ZCFW';

---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.png" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>iLikeMovies</title>
  </head>
  <body class="bg-gradient-to-r from-[#020e33] to-[#02185c]">
    <Navbar>
      <Logo />
      <AddMovie userId={userId} />
      <FilterForm userId={userId} />
    </Navbar>
    <Spacer topMargin={14} />
    <Spacer topMargin={10} />
    <div class="md:hidden mt-14" />
    <div 
      id="movie-list-container"
      hx-get={`/partials/user/movies/${userId}`}
      hx-trigger="load"
      class="flex flex-col items-center justify-center text-center"
    >
    
    </div>
	</body>
</html>
