---
import MovieListItem from '../components/MovieList/MovieListItem.astro';
import { buttonClasses } from '../components/style/twClasses/buttonClasses';

import { getUserMoviesById } from '../db/models/userMovies';

const host = import.meta.env.HOST_URL;

---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.png" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>iLikeMovies</title>
	</head>
    <body class="bg-gradient-to-r from-[#020e33] to-[#02185c]">
      <div 
        id="movie-list-container"
        hx-get="/partials/user/movies/01J9W2QWVYK5SA1DJ06Q21ZCFW"
        hx-trigger="load"
        class="flex flex-col items-center justify-center text-center"
      >
      
      </div>
	</body>
</html>
