---
import { inputClasses } from '../style/twClasses/inputClasses';
import { buttonClasses } from '../style/twClasses/buttonClasses';

const { userId } = Astro.props;

---

  <div class="flex flex-row items-start justify-start space-x-6">
    <form
      id="add-movie-form"
      hx-post={`/partials/user/add-movie/${userId}`}
      hx-target="#movie-list-container"
      hx-replace="innerHTML"
      hx-boost="true"
    >
      <label for="movieTitle" class="text-white text-lg font-bold max-sm:hidden">Add Movie:</label>
      <input id="add-movie-input" name="movieTitle" class={inputClasses} />
      <button id="add-movie-submit" type="submit" class={buttonClasses}>Add Movie</button>
    </form>
</div>

<script>
  const allRadio = document.getElementById('movie-filter-all');
  const watchedRadio = document.getElementById('movie-filter-watched');
  const unwatchedRadio = document.getElementById('movie-filter-unwatched');

  const movieTitleInput = document.getElementById('add-movie-input');
  const addMovieButton = document.getElementById('add-movie-submit');

  addMovieButton.addEventListener('click', () => {
    allRadio.checked = true;
    watchedRadio.checked = false;
    unwatchedRadio.checked = false;
  });
</script>
